extends layout


block content
  h1= title
  p Welcome to #{title}
  form(method='post' action='login')
    input(type='text' name='wechatId')
    input(type='text' name='password')
    input(type='submit' value='submit' name='submitname')

  form(method='post' action='signup')
    input(type='text' name='wechatId')
    input(type='text' name='password')
    input(type='submit' value='submit' name='submitname')